/* Reihenfolge mit Webpage HTML Export
 * snippets
 * obsidian
 * theme
 * global-variable-styles
 * main-styles
 *
 * Snippets enthält alle meine Obsidian styles in unbekannter Reihenfolge
 * mal so, mal so
 * obsidian-source-view.css: ist egal, das wirkt nicht im Export
 * timeline.css: passe ich hier an, kein !important, da nix überschrieben wird 
 *
 * */
#cssfile_obuntu_adapt { color: blue; }
body {
  --link-decoration: none; /* für interne links */
  --link-decoration-hover: none; /* für interne links */
}
.theme-dark {
  /* Meine Variablen */
  --red-bg: #4c050f;
  --yellow-bg: #44420e;
  --green-bg: #1a4217;
  --blue-bg: #141b52;
  --grey-bg: rgba(0, 0, 0, .7);
  --color-bg:#333;
  --color-bg-sec:#555;
  --color-fg:#73BF9C;
  --color-hv:#96cfb4;
  --color-fg-light-a:#73BF9C;
  --color-fg-light-b:#73BF9C;
  --color-strong:green;
  --color-mild:blue;
  /* Obuntu Variablen, einige von mir überschrieben */
  --text-accent: var(--color-fg) !important;
  --link-external-color: var(--color-fg);
  --link-color: var(--color-fg);
  --interactive-accent: var(--color-fg) !important;
  --text-highlight-bg: var(--color-fg) !important;
  --text-accent-hover: var(--color-hv) !important;
  --text-selection: var(--color-fg-light-b) !important;
  --text-highlight-bg: var(--color-fg) !important;
  --interactive-accent: var(--color-fg) !important;
  --interactive-accent-rgb: var(--color-hv) !important;
  --interactive-accent-hover: var(--color-hv) !important;
  --accent-strong: var(--color-strong) !important;
  --accent-mild: var(--color-mild) !important;
}
.theme-light {
  /* Meine Variablen */
  --red-bg: rgba(255, 0, 0, .04);
  --yellow-bg: rgba(255, 255, 0, .05);
  --green-bg: rgba(0, 255, 0, .03);
  --blue-bg: rgba(214, 233, 255, .3);
  --grey-bg: rgba(0, 0, 0, .03);
  --color-bg:#fff;
  --color-bg-sec:#eee;
  --color-fg:#50af83;
  --color-hv:#50df83;
  --color-fg-light-a: rgba(80,175,131,0.9);
  --color-fg-light-b: rgba(80,175,131,0.8);
  --color-strong:#30694e;
  --color-mild:#bac22f;
}
body {
  /* Obuntu Variablen, einige von mir überschrieben */
  --background-secondary: var(--color-bg-sec) !important;
  --background-secondary-alt: var(--color-bg-sec) !important;
  --text-accent: var(--color-fg) !important;
  --text-accent-hover: var(--color-hv) !important;
  --text-selection: var(--color-fg-light-b) !important;
  --text-highlight-bg: var(--color-fg) !important;
  --interactive-accent: var(--color-fg) !important;
  --interactive-accent-rgb: var(--color-hv) !important;
  --interactive-accent-hover: var(--color-hv) !important;
  --accent-strong: var(--color-strong) !important;
  --accent-mild: var(--color-mild) !important;


  --background-primary: #fff;
  --background-primary-alt: #dedede;
  --background-secondary: #dedede;
  --background-secondary: #eeeeee !important;
  --background-secondary-alt: #dedede;
  --background-secondary-alt: #eeeeee !important;
  --background-modifier-border: #f7f7f7;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.85);
  --text-accent: #df4a16;
  --text-accent: var(--color-fg) !important;
  --text-accent-hover: #df7a16;
  --text-accent-hover: var(--color-hv) !important;
  --text-normal: #03050b;
  --text-muted: #555;
  --text-error: #ff3333;
  --text-error-hover: #990000;
  --text-matched: #dcddde;
  --text-on-accent: #dcddde;
  --text-selection: rgba(223, 74, 22, 0.8);
  --text-selection: var(--color-fg-light-b) !important;
  --text-highlight-bg: #df4a16;
  --text-highlight-bg: var(--color-fg) !important;
  --interactive-accent: #df4a16;
  --interactive-accent: var(--color-fg) !important;
  --interactive-accent-rgb: #df7a16;
  --interactive-accent-rgb: var(--color-hv) !important;
  --interactive-accent-hover: #df7a16;
  --interactive-accent-hover: var(--color-hv) !important;
  --workspace-leaf-resize: #c1c1c1;
  --accent-strong: #ec0d0d;
  --accent-strong: var(--color-strong) !important;
  --accent-mild: #e6b64f;
  --accent-mild: var(--color-mild) !important;
  --bw: #03050b;
  --lines-identation: #dad8d8;
  --tooltip-bg: rgba(223, 74, 22, 0.9);
  --tooltip-bg: var(--color-fg-light-a);
  --link-color: var(--color-fg);
  --link-color-hover: var(--color-hv);
  --link-external-color: var(--color-fg);
  --link-external-color-hover: var(--color-hv);
  --link-decoration: none;
  --link-decoration-hover: none;
}
/* Webpage HTML Export */.page-title  { display:none; } /* Dateinamen nicht anzeigen */

code { color: var(--color-fg) !important; }
.tag { background: var(--color-fg) !important; color: var(--color-bg) !important;}
p {
 margin-bottom: 0.4rem !important;
 margin-top: 0.0rem !important;
 line-height: 1.4;
}
p::first-letter {
  font-size:1.2rem !important;
}
h5 {
  border-bottom: none !important;
  text-decoration: underline !important;
  text-underline-offset: 0.5rem !important;
}
h6 {
  border-bottom: none !important;
  text-decoration: underline !important;
  text-decoration-thickness: 1px !important;
  text-decoration-style: dashed !important;
  text-underline-offset: 0.5rem !important;
}
[data-heading="-footnotes"] {
    display: none;
}

/*******************************************************************************
 * timeline
 * background und link farbe ist in timeline.css nicht gesetzt, so kein important
 *******************************************************************************/
body {
  [data-callout-metadata=red] .callout-content { background: var(--red-bg) }
  [data-callout-metadata=yellow] .callout-content { background: var(--yellow-bg) }
  [data-callout-metadata=green] .callout-content { background: var(--green-bg) }
  [data-callout-metadata=blue] .callout-content { background:  var(--blue-bg) }
  [data-callout-metadata=grey] .callout-content { background: var(--grey-bg) }
}
.theme-dark {
  [data-callout="timeline"] .callout-content a { color: white; }
}


