/* Webpage html export hängt die snippets willkürlich aneinander
 * - obsidian-source-view.css hat eh keinen Einfluss auf die Lese Ansicht
 * - timeline passe ich hier an, mit !important, falls nötig
 * weitere snippet Dateien darf es nicht geben
 *
 * Viele obsidian css Variablen sind hier zu finden:
 * https://docs.obsidian.md/Reference/CSS+variables/CSS+variables
*/

:falschegruen { /* Die 6 Skin Farben */
  /* prim und ntrl sind gleich */
  /* concrete */
  --prim-010: #F8F9F9;
  --prim-050: #F2F4F4;
  --prim-100: #E5E8E8;
  --prim-200: #CCD1D1;
  --prim-300: #B2BABB;
  --prim-400: #99A3A4;
  --prim-500: #7F8C8D;
  --prim-600: #707B7C;
  --prim-700: #616A6B;
  --prim-800: #515959;
  --prim-900: #424949;
  --prim-950: #404647;
  --prim-990: #0D0E0E;
  /* greensea */
  --seco-010: #F3FaF9;
  --seco-050: #E8F6F3;
  --seco-100: #D0ECE7;
  --seco-200: #A2D9CE;
  --seco-300: #73C6B6;
  --seco-400: #45B39D;
  --seco-500: #16A085;
  --seco-600: #138D75;
  --seco-700: #117A65;
  --seco-800: #0E6655;
  --seco-900: #0B5345;
  --seco-950: #0B5043;
  --seco-990: #021011;
  /* sunflower */
  --tert-010: #FEFCF3;
  --tert-050: #FEF9E7;
  --tert-100: #FCF3CF;
  --tert-200: #F9E79F;
  --tert-300: #F7DC6F;
  --tert-400: #F4D03F;
  --tert-500: #F1C40F;
  --tert-600: #D4AC0D;
  --tert-700: #B7950B;
  --tert-800: #9A7D0A;
  --tert-900: #7D6608;
  --tert-950: #796208;
  --tert-990: #0C0A01;
  /* alizarin */
  --erro-010: #FEF6F5;
  --erro-050: #FDEDEC;
  --erro-100: #FADBD8;
  --erro-200: #F5B7B1;
  --erro-300: #F1948A;
  --erro-400: #EC7063;
  --erro-500: #E74C3C;
  --erro-600: #CB4335;
  --erro-700: #B03A2E;
  --erro-800: #943126;
  --erro-900: #78281F;
  --erro-950: #74261E;
  --erro-990: #170806;
  /* concrete */
  --ntrl-010: #F8F9F9;
  --ntrl-050: #F2F4F4;
  --ntrl-100: #E5E8E8;
  --ntrl-200: #CCD1D1;
  --ntrl-300: #B2BABB;
  --ntrl-400: #99A3A4;
  --ntrl-500: #7F8C8D;
  --ntrl-600: #707B7C;
  --ntrl-700: #616A6B;
  --ntrl-800: #515959;
  --ntrl-900: #424949;
  --ntrl-950: #404647;
  --ntrl-990: #0D0E0E;
  /* silver */
  --vari-010: #FCFCFC;
  --vari-050: #F8F9F9;
  --vari-100: #F2F3F4;
  --vari-200: #E5E7E9;
  --vari-300: #D7DBDD;
  --vari-400: #CACFD2;
  --vari-500: #BDC3C7;
  --vari-600: #A6ACAF;
  --vari-700: #909497;
  --vari-800: #797D7F;
  --vari-900: #626567;
  --vari-950: #5F6264;
  --vari-960: #4C4E50;
  --vari-970: #393B3C;
  --vari-975: #2f3132;
  --vari-980: #262728;
  --vari-985: #1C1D1E;
  --vari-990: #131414;
}
:root { /* Die 6 Skin Farben */
  /* prim und ntrl sind gleich */
  /* concrete */
  --prim-010: #F8F9F9;
  --prim-050: #F2F4F4;
  --prim-100: #E5E8E8;
  --prim-200: #CCD1D1;
  --prim-300: #B2BABB;
  --prim-400: #99A3A4;
  --prim-500: #7F8C8D;
  --prim-600: #707B7C;
  --prim-700: #616A6B;
  --prim-800: #515959;
  --prim-900: #424949;
  --prim-950: #404647;
  --prim-990: #0D0E0E;
  /* turquoise */
  --seco-010: #F4FCFA;
  --seco-050: #E8F8F5;
  --seco-100: #D1F2EB;
  --seco-200: #A3E4D7;
  --seco-300: #76D7C4;
  --seco-400: #48C9B0;
  --seco-500: #1ABC9C;
  --seco-600: #17A589;
  --seco-700: #148F77;
  --seco-800: #117864;
  --seco-900: #0E6251;
  --seco-950: #0D5E4E;
  --seco-990: #031310;
  /* sunflower */
  --tert-010: #FEFCF3;
  --tert-050: #FEF9E7;
  --tert-100: #FCF3CF;
  --tert-200: #F9E79F;
  --tert-300: #F7DC6F;
  --tert-400: #F4D03F;
  --tert-500: #F1C40F;
  --tert-600: #D4AC0D;
  --tert-700: #B7950B;
  --tert-800: #9A7D0A;
  --tert-900: #7D6608;
  --tert-950: #796208;
  --tert-990: #0C0A01;
  /* alizarin */
  --erro-010: #FEF6F5;
  --erro-050: #FDEDEC;
  --erro-100: #FADBD8;
  --erro-200: #F5B7B1;
  --erro-300: #F1948A;
  --erro-400: #EC7063;
  --erro-500: #E74C3C;
  --erro-600: #CB4335;
  --erro-700: #B03A2E;
  --erro-800: #943126;
  --erro-900: #78281F;
  --erro-950: #74261E;
  --erro-990: #170806;
  /* concrete */
  --ntrl-010: #F8F9F9;
  --ntrl-050: #F2F4F4;
  --ntrl-100: #E5E8E8;
  --ntrl-200: #CCD1D1;
  --ntrl-300: #B2BABB;
  --ntrl-400: #99A3A4;
  --ntrl-500: #7F8C8D;
  --ntrl-600: #707B7C;
  --ntrl-700: #616A6B;
  --ntrl-800: #515959;
  --ntrl-900: #424949;
  --ntrl-950: #404647;
  --ntrl-990: #0D0E0E;
  /* silver */
  --vari-010: #FCFCFC;
  --vari-050: #F8F9F9;
  --vari-100: #F2F3F4;
  --vari-200: #E5E7E9;
  --vari-300: #D7DBDD;
  --vari-400: #CACFD2;
  --vari-500: #BDC3C7;
  --vari-600: #A6ACAF;
  --vari-700: #909497;
  --vari-800: #797D7F;
  --vari-900: #626567;
  --vari-950: #5F6264;
  --vari-960: #4C4E50;
  --vari-970: #393B3C;
  --vari-975: #2f3132;
  --vari-980: #262728;
  --vari-985: #1C1D1E;
  --vari-990: #131414;
}

.theme-light {
  --clr-seco-bg:        var(--seco-010);
  --clr-seco-bg-muted:  var(--seco-050);
  --clr-seco-bg-faint:  var(--seco-300);
  --clr-seco:           var(--seco-500);
  --clr-seco-fg-faint:  var(--seco-700);
  --clr-seco-fg-muted:  var(--seco-950);
  --clr-seco-fg:        var(--seco-990);

  --clr-tert-bg:        var(--tert-010);
  --clr-tert-bg-muted:  var(--tert-050);
  --clr-tert-bg-faint:  var(--tert-300);
  --clr-tert:           var(--tert-500);
  --clr-tert-fg-faint:  var(--tert-700);
  --clr-tert-fg-muted:  var(--tert-950);
  --clr-tert-fg:        var(--tert-990);

  --clr-erro-bg:        var(--erro-010);
  --clr-erro-bg-muted:  var(--erro-050);
  --clr-erro-bg-faint:  var(--erro-300);
  --clr-erro:           var(--erro-500);
  --clr-erro-fg-faint:  var(--erro-700);
  --clr-erro-fg-muted:  var(--erro-950);
  --clr-erro-fg:        var(--erro-990);

  --clr-ntrl-bg:        var(--ntrl-010);
  --clr-ntrl-bg-muted:  var(--ntrl-050);
  --clr-ntrl-bg-faint:  var(--ntrl-300);
  --clr-ntrl:           var(--ntrl-500);
  --clr-ntrl-fg-faint:  var(--ntrl-700);
  --clr-ntrl-fg-muted:  var(--ntrl-950);
  --clr-ntrl-fg:        var(--ntrl-990);

  --clr-vari-bg:        var(--vari-010);
  --clr-vari-bg-muted:  var(--vari-050);
  --clr-vari-bg-faint:  var(--vari-300);
  --clr-vari:           var(--vari-500);
  --clr-vari-fg-faint:  var(--vari-700);
  --clr-vari-fg-muted:  var(--vari-950);
  --clr-vari-fg:        var(--vari-990);

  --clr-seco: var(--seco-900);
  --clr-tert: var(--tert-950);
  --clr-erro: var(--erro-950);
  --clr-ntrl: var(--ntrl-950);
  --clr-vari: var(--vari-950);
}
.theme-dark {
  --clr-seco-bg:        var(--seco-990);
  --clr-seco-bg-muted:  var(--seco-950);
  --clr-seco-bg-faint:  var(--seco-700);
  --clr-seco:           var(--seco-500);
  --clr-seco-fg-faint:  var(--seco-300);
  --clr-seco-fg-muted:  var(--seco-050);
  --clr-seco-fg:        var(--seco-010);

  --clr-tert-bg:        var(--tert-990);
  --clr-tert-bg-muted:  var(--tert-950);
  --clr-tert-bg-faint:  var(--tert-700);
  --clr-tert:           var(--tert-500);
  --clr-tert-fg-faint:  var(--tert-300);
  --clr-tert-fg-muted:  var(--tert-050);
  --clr-tert-fg:        var(--tert-010);

  --clr-erro-bg:        var(--erro-990);
  --clr-erro-bg-muted:  var(--erro-950);
  --clr-erro-bg-faint:  var(--erro-700);
  --clr-erro:           var(--erro-500);
  --clr-erro-fg-faint:  var(--erro-300);
  --clr-erro-fg-muted:  var(--erro-050);
  --clr-erro-fg:        var(--erro-010);

  --clr-ntrl-bg:        var(--ntrl-990);
  --clr-ntrl-bg-muted:  var(--ntrl-950);
  --clr-ntrl-bg-faint:  var(--ntrl-700);
  --clr-ntrl:           var(--ntrl-500);
  --clr-ntrl-fg-faint:  var(--ntrl-300);
  --clr-ntrl-fg-muted:  var(--ntrl-050);
  --clr-ntrl-fg:        var(--ntrl-010);

  --clr-vari-bg:        var(--vari-990);
  --clr-vari-bg-muted:  var(--vari-950);
  --clr-vari-bg-faint:  var(--vari-700);
  --clr-vari:           var(--vari-500);
  --clr-vari-fg-faint:  var(--vari-300);
  --clr-vari-fg-muted:  var(--vari-050);
  --clr-vari-fg:        var(--vari-010);

  --clr-seco: var(--seco-600);
  --clr-tert: var(--tert-500);
  --clr-erro: var(--erro-500);
  --clr-ntrl: var(--ntrl-400);
  --clr-vari: var(--vari-500);
}
body, body * {
}
.obsiclasses {
  --background-primary /* Primary background */
  --background-primary-alt /* Background for surfaces on top of primary background */
  --background-secondary /* Secondary background */
  --background-secondary-alt /* Background for surfaces on top of secondary background */
  --background-modifier-hover /* Hovered elements */
  --background-modifier-active-hover /* Active hovered elements */
  --background-modifier-border /* Border color */
  --background-modifier-border-hover /* Border color (hover) */
  --background-modifier-border-focus /* Border color (focus) */
  --background-modifier-error-rgb /* Error background, RGB value */
  --background-modifier-error /* Error background */
  --background-modifier-error-hover /* Error background (hover) */
  --background-modifier-success-rgb /* Success background, RGB value */
  --background-modifier-success /* Success background */
  --background-modifier-message /* Messages background */
  --background-modifier-form-field /* Form field background */
  --interactive-normal /* Background for standard interactive elements */
  --interactive-hover /* Background for standard interactive elements (hover) */
  --interactive-accent /* Background for accented interactive elements */
  --interactive-accent-hsl /* Background for accented interactive elements in HSL */
  --interactive-accent-hover /* Background for accented interactive elements (hover) */
  --text-normal /* Normal text */
  --text-muted /* Muted text */
  --text-faint /* Faint text */
  --text-on-accent /* Text on accent background when accent is dark */
  --text-on-accent-inverted /* Text on accent background when accent is light */
  --text-success /* Success text */
  --text-warning /* Warning text */
  --text-error /* Error text */
  --text-accent /* Accent text */
  --text-accent-hover /* Accent text (hover) */
  --text-selection /* Selected text background */
  --text-highlight-bg /* Highlighted text background */
  --caret-color /* Defines the color of the caret, the blinking text entry cursor */
}
.theme-dark, .theme-light {
}

