.markdown-embed-title {
  display: none;
}
.block-language-dataviewjs .block-language-dataviewjs {
  xxbackground: red;
}
.block-language-dataviewjs.node-insert-event > p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

div.block-language-dataviewjs.node-insert-event > div {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 0.3rem !important;
}
div.block-language-dataviewjs.node-insert-event * {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
div.block-language-dataviewjs.node-insert-event h2 {
  padding-left: 0.5rem !important;
  margin-top: 0.4rem !important;
  border-bottom: 0 !important;
}
div.block-language-dataviewjs.node-insert-event h3 {
  padding-left: 1.5rem !important;
  border-bottom: 0 !important;
}
