# von: https://htmlcolorcodes.com/color-chart/
# Die color-010 erzeugt man mit:
# https://maketintsandshades.com/#colors=BDC3C7&hashtag=0&steps=20
# Für flat aus color-500, sie ist dann shade 95%
# Für color-950 trixe ich bei flat:
# Selber Link wie oben, auch color-500, dann tint 50%
# Das ist nicht korrekt, aber dunkel und nicht zu dunkel
# Für color-990 trixe ich bei flat:
# Selber Link wie oben, auch color-500, dann tint 90%
# Das ist nicht korrekt, aber sehr dunkel
# color-010 unten shade 95
# color-950 oben tint 50
# color-990 oben tint 90
## Tailwind
red
--color-050: #FEF2F2;
--color-100: #FFE2E2;
--color-200: #FFC9C9;
--color-300: #FFA2A2;
--color-400: #FF6467;
--color-500: #FB2C36;
--color-600: #E7180B;
--color-700: #C11007;
--color-800: #9F0712;
--color-900: #82181A;
--color-950: #460809;
orange
--color-050: #FFF7ED;
--color-100: #FFEDD4;
--color-200: #FFD6A7;
--color-300: #FFB86A;
--color-400: #FF8904;
--color-500: #FF692A;
--color-600: #F54927;
--color-700: #CA3519;
--color-800: #9F2D01;
--color-900: #7E2A0C;
--color-950: #441306;
yellow
--color-050: #FFFBEB;
--color-100: #FEF3C6;
--color-200: #FEE685;
--color-300: #FFD230;
--color-400: #FFB93B;
--color-500: #FE9A37;
--color-600: #E1712B;
--color-700: #BB4D1A;
--color-800: #973C08;
--color-900: #7B3306;
--color-950: #461901;
amber
--color-050: #FEFCE8;
--color-100: #FEF9C2;
--color-200: #FFF085;
--color-300: #FFDF20;
--color-400: #FDC745;
--color-500: #F0B13B;
--color-600: #D0872E;
--color-700: #A65F1B;
--color-800: #894B0A;
--color-900: #733E0A;
--color-950: #432004;
lime
--color-050: #F7FEE7;
--color-100: #ECFCCA;
--color-200: #D8F999;
--color-300: #BBF451;
--color-400: #9AE630;
--color-500: #7CCF35;
--color-600: #5EA529;
--color-700: #497D15;
--color-800: #3C6301;
--color-900: #35530E;
--color-950: #192E03;
green
--color-050: #F0FDF4;
--color-100: #DCFCE7;
--color-200: #B9F8CF;
--color-300: #7BF1A8;
--color-400: #05DF72;
--color-500: #31C950;
--color-600: #2AA63E;
--color-700: #178236;
--color-800: #016630;
--color-900: #0D542B;
--color-950: #032E15;
emerald
--color-050: #ECFDF5;
--color-100: #D0FAE5;
--color-200: #A4F4CF;
--color-300: #5EE9B5;
--color-400: #31D492;
--color-500: #37BC7D;
--color-600: #2D9966;
--color-700: #1F7A55;
--color-800: #116045;
--color-900: #034F3B;
--color-950: #012C22;
teal
--color-050: #F0FDFA;
--color-100: #CBFBF1;
--color-200: #96F7E4;
--color-300: #46ECD5;
--color-400: #38D5BE;
--color-500: #36BBA7;
--color-600: #2A9689;
--color-700: #18786F;
--color-800: #075F5A;
--color-900: #0B4F4A;
--color-950: #022F2E;
cyan
--color-050: #ECFEFF;
--color-100: #CEFAFE;
--color-200: #A2F4FD;
--color-300: #53EAFD;
--color-400: #42D3F2;
--color-500: #3BB8DB;
--color-600: #2C92B8;
--color-700: #1A7595;
--color-800: #015F78;
--color-900: #104E64;
--color-950: #053345;
sky
--color-050: #F0F9FF;
--color-100: #DFF2FE;
--color-200: #B8E6FE;
--color-300: #74D4FF;
--color-400: #21BCFF;
--color-500: #34A6F4;
--color-600: #2984D1;
--color-700: #1C69A8;
--color-800: #10598A;
--color-900: #024A70;
--color-950: #052F4A;
blue
--color-050: #EFF6FF;
--color-100: #DBEAFE;
--color-200: #BEDBFF;
--color-300: #8EC5FF;
--color-400: #51A2FF;
--color-500: #2B7FFF;
--color-600: #155DFC;
--color-700: #1447E6;
--color-800: #193CB8;
--color-900: #1C398E;
--color-950: #162456;
indigo
--color-050: #EEF2FF;
--color-100: #E0E7FF;
--color-200: #C6D2FF;
--color-300: #A3B3FF;
--color-400: #7C86FF;
--color-500: #615FFF;
--color-600: #4F39F6;
--color-700: #432DD7;
--color-800: #372AAC;
--color-900: #312C85;
--color-950: #1E1A4D;
violet
--color-050: #F5F3FF;
--color-100: #EDE9FE;
--color-200: #DDD6FF;
--color-300: #C4B4FF;
--color-400: #A684FF;
--color-500: #8E51FF;
--color-600: #7F22FE;
--color-700: #7008E7;
--color-800: #5D0EC0;
--color-900: #4D179A;
--color-950: #2F0D68;
purple
--color-050: #FAF5FF;
--color-100: #F3E8FF;
--color-200: #E9D4FF;
--color-300: #DAB2FF;
--color-400: #C27AFF;
--color-500: #AD46FF;
--color-600: #9810FA;
--color-700: #8207DB;
--color-800: #6E11B0;
--color-900: #59168B;
--color-950: #3C0366;
fuchsia
--color-050: #FDF4FF;
--color-100: #FAE8FF;
--color-200: #F6CFFF;
--color-300: #F4A8FF;
--color-400: #ED6AFF;
--color-500: #E12AFB;
--color-600: #C81CDE;
--color-700: #A813B7;
--color-800: #8A0194;
--color-900: #721378;
--color-950: #4B004F;
pink
--color-050: #FDF2F8;
--color-100: #FCE7F3;
--color-200: #FCCEE8;
--color-300: #FDA5D5;
--color-400: #FB64B6;
--color-500: #F6339A;
--color-600: #E61876;
--color-700: #C6185C;
--color-800: #A3044C;
--color-900: #861043;
--color-950: #510424;
rose
--color-050: #FFF1F2;
--color-100: #FFE4E6;
--color-200: #FFCCD3;
--color-300: #FFA1AD;
--color-400: #FF637E;
--color-500: #FF2056;
--color-600: #EC253F;
--color-700: #C71D36;
--color-800: #A50C36;
--color-900: #8B0836;
--color-950: #4D0218;
slate
--color-050: #F8FAFC;
--color-100: #F1F5F9;
--color-200: #E2E8F0;
--color-300: #CAD5E2;
--color-400: #90A1B9;
--color-500: #62748E;
--color-600: #45556C;
--color-700: #314158;
--color-800: #1D293D;
--color-900: #0F172B;
--color-950: #020618;
gray
--color-050: #F9FAFB;
--color-100: #F3F4F6;
--color-200: #E5E7EB;
--color-300: #D1D5DC;
--color-400: #99A1AF;
--color-500: #6A7282;
--color-600: #4A5565;
--color-700: #364153;
--color-800: #1E2939;
--color-900: #101828;
--color-950: #030712;
zinc
--color-050: #FAFAFA;
--color-100: #F4F4F5;
--color-200: #E4E4E7;
--color-300: #D4D4D8;
--color-400: #9F9FA9;
--color-500: #71717B;
--color-600: #52525C;
--color-700: #3F3F46;
--color-800: #27272A;
--color-900: #18181B;
--color-950: #09090B;
neutral
--color-050: #FAFAFA;
--color-100: #F5F5F5;
--color-200: #E5E5E5;
--color-300: #D4D4D4;
--color-400: #A1A1A1;
--color-500: #737373;
--color-600: #525252;
--color-700: #404040;
--color-800: #262626;
--color-900: #171717;
--color-950: #0A0A0A;
stone
--color-050: #FAFAF9;
--color-100: #F5F5F4;
--color-200: #E7E5E4;
--color-300: #D6D3D1;
--color-400: #A6A09B;
--color-500: #79716B;
--color-600: #57534D;
--color-700: #44403B;
--color-800: #292524;
--color-900: #1C1917;
--color-950: #0C0A09;
## Flat
pomegranate
--color-050: #F9EBEA;
--color-100: #F2D7D5;
--color-200: #E6B0AA;
--color-300: #D98880;
--color-400: #CD6155;
--color-500: #C0392B;
--color-600: #A93226;
--color-700: #922B21;
--color-800: #7B241C;
--color-900: #641E16;
alizarin
--color-050: #FDEDEC;
--color-100: #FADBD8;
--color-200: #F5B7B1;
--color-300: #F1948A;
--color-400: #EC7063;
--color-500: #E74C3C;
--color-600: #CB4335;
--color-700: #B03A2E;
--color-800: #943126;
--color-900: #78281F;
amethyst
--color-050: #F5EEF8;
--color-100: #EBDEF0;
--color-200: #D7BDE2;
--color-300: #C39BD3;
--color-400: #AF7AC5;
--color-500: #9B59B6;
--color-600: #884EA0;
--color-700: #76448A;
--color-800: #633974;
--color-900: #512E5F;
wisteria
--color-050: #F4ECF7;
--color-100: #E8DAEF;
--color-200: #D2B4DE;
--color-300: #BB8FCE;
--color-400: #A569BD;
--color-500: #8E44AD;
--color-600: #7D3C98;
--color-700: #6C3483;
--color-800: #5B2C6F;
--color-900: #4A235A;
belizehole
--color-050: #EAF2F8;
--color-100: #D4E6F1;
--color-200: #A9CCE3;
--color-300: #7FB3D5;
--color-400: #5499C7;
--color-500: #2980B9;
--color-600: #2471A3;
--color-700: #1F618D;
--color-800: #1A5276;
--color-900: #154360;
peterriver
--color-050: #EBF5FB;
--color-100: #D6EAF8;
--color-200: #AED6F1;
--color-300: #85C1E9;
--color-400: #5DADE2;
--color-500: #3498DB;
--color-600: #2E86C1;
--color-700: #2874A6;
# Für color-990 trixe ich bei flat:
# Selber Link wie oben, auch color-500, dann tint 90%
# Das ist nicht korrekt, aber dunkel
## Tailwind
red
--color-050: #FEF2F2;
--color-100: #FFE2E2;
--color-200: #FFC9C9;
--color-300: #FFA2A2;
--color-400: #FF6467;
--color-500: #FB2C36;
--color-600: #E7180B;
--color-700: #C11007;
--color-800: #9F0712;
--color-900: #82181A;
--color-950: #460809;
orange
--color-050: #FFF7ED;
--color-100: #FFEDD4;
--color-200: #FFD6A7;
--color-300: #FFB86A;
--color-400: #FF8904;
--color-500: #FF692A;
--color-600: #F54927;
--color-700: #CA3519;
--color-800: #9F2D01;
--color-900: #7E2A0C;
--color-950: #441306;
yellow
--color-050: #FFFBEB;
--color-100: #FEF3C6;
--color-200: #FEE685;
--color-300: #FFD230;
--color-400: #FFB93B;
--color-500: #FE9A37;
--color-600: #E1712B;
--color-700: #BB4D1A;
--color-800: #973C08;
--color-900: #7B3306;
--color-950: #461901;
amber
--color-050: #FEFCE8;
--color-100: #FEF9C2;
--color-200: #FFF085;
--color-300: #FFDF20;
--color-400: #FDC745;
--color-500: #F0B13B;
--color-600: #D0872E;
--color-700: #A65F1B;
--color-800: #894B0A;
--color-900: #733E0A;
--color-950: #432004;
lime
--color-050: #F7FEE7;
--color-100: #ECFCCA;
--color-200: #D8F999;
--color-300: #BBF451;
--color-400: #9AE630;
--color-500: #7CCF35;
--color-600: #5EA529;
--color-700: #497D15;
--color-800: #3C6301;
--color-900: #35530E;
--color-950: #192E03;
green
--color-050: #F0FDF4;
--color-100: #DCFCE7;
--color-200: #B9F8CF;
--color-300: #7BF1A8;
--color-400: #05DF72;
--color-500: #31C950;
--color-600: #2AA63E;
--color-700: #178236;
--color-800: #016630;
--color-900: #0D542B;
--color-950: #032E15;
emerald
--color-050: #ECFDF5;
--color-100: #D0FAE5;
--color-200: #A4F4CF;
--color-300: #5EE9B5;
--color-400: #31D492;
--color-500: #37BC7D;
--color-600: #2D9966;
--color-700: #1F7A55;
--color-800: #116045;
--color-900: #034F3B;
--color-950: #012C22;
teal
--color-050: #F0FDFA;
--color-100: #CBFBF1;
--color-200: #96F7E4;
--color-300: #46ECD5;
--color-400: #38D5BE;
--color-500: #36BBA7;
--color-600: #2A9689;
--color-700: #18786F;
--color-800: #075F5A;
--color-900: #0B4F4A;
--color-950: #022F2E;
cyan
--color-050: #ECFEFF;
--color-100: #CEFAFE;
--color-200: #A2F4FD;
--color-300: #53EAFD;
--color-400: #42D3F2;
--color-500: #3BB8DB;
--color-600: #2C92B8;
--color-700: #1A7595;
--color-800: #015F78;
--color-900: #104E64;
--color-950: #053345;
sky
--color-050: #F0F9FF;
--color-100: #DFF2FE;
--color-200: #B8E6FE;
--color-300: #74D4FF;
--color-400: #21BCFF;
--color-500: #34A6F4;
--color-600: #2984D1;
--color-700: #1C69A8;
--color-800: #10598A;
--color-900: #024A70;
--color-950: #052F4A;
blue
--color-050: #EFF6FF;
--color-100: #DBEAFE;
--color-200: #BEDBFF;
--color-300: #8EC5FF;
--color-400: #51A2FF;
--color-500: #2B7FFF;
--color-600: #155DFC;
--color-700: #1447E6;
--color-800: #193CB8;
--color-900: #1C398E;
--color-950: #162456;
indigo
--color-050: #EEF2FF;
--color-100: #E0E7FF;
--color-200: #C6D2FF;
--color-300: #A3B3FF;
--color-400: #7C86FF;
--color-500: #615FFF;
--color-600: #4F39F6;
--color-700: #432DD7;
--color-800: #372AAC;
--color-900: #312C85;
--color-950: #1E1A4D;
violet
--color-050: #F5F3FF;
--color-100: #EDE9FE;
--color-200: #DDD6FF;
--color-300: #C4B4FF;
--color-400: #A684FF;
--color-500: #8E51FF;
--color-600: #7F22FE;
--color-700: #7008E7;
--color-800: #5D0EC0;
--color-900: #4D179A;
--color-950: #2F0D68;
purple
--color-050: #FAF5FF;
--color-100: #F3E8FF;
--color-200: #E9D4FF;
--color-300: #DAB2FF;
--color-400: #C27AFF;
--color-500: #AD46FF;
--color-600: #9810FA;
--color-700: #8207DB;
--color-800: #6E11B0;
--color-900: #59168B;
--color-950: #3C0366;
fuchsia
--color-050: #FDF4FF;
--color-100: #FAE8FF;
--color-200: #F6CFFF;
--color-300: #F4A8FF;
--color-400: #ED6AFF;
--color-500: #E12AFB;
--color-600: #C81CDE;
--color-700: #A813B7;
--color-800: #8A0194;
--color-900: #721378;
--color-950: #4B004F;
pink
--color-050: #FDF2F8;
--color-100: #FCE7F3;
--color-200: #FCCEE8;
--color-300: #FDA5D5;
--color-400: #FB64B6;
--color-500: #F6339A;
--color-600: #E61876;
--color-700: #C6185C;
--color-800: #A3044C;
--color-900: #861043;
--color-950: #510424;
rose
--color-050: #FFF1F2;
--color-100: #FFE4E6;
--color-200: #FFCCD3;
--color-300: #FFA1AD;
--color-400: #FF637E;
--color-500: #FF2056;
--color-600: #EC253F;
--color-700: #C71D36;
--color-800: #A50C36;
--color-900: #8B0836;
--color-950: #4D0218;
slate
--color-050: #F8FAFC;
--color-100: #F1F5F9;
--color-200: #E2E8F0;
--color-300: #CAD5E2;
--color-400: #90A1B9;
--color-500: #62748E;
--color-600: #45556C;
--color-700: #314158;
--color-800: #1D293D;
--color-900: #0F172B;
--color-950: #020618;
gray
--color-050: #F9FAFB;
--color-100: #F3F4F6;
--color-200: #E5E7EB;
--color-300: #D1D5DC;
--color-400: #99A1AF;
--color-500: #6A7282;
--color-600: #4A5565;
--color-700: #364153;
--color-800: #1E2939;
--color-900: #101828;
--color-950: #030712;
zinc
--color-050: #FAFAFA;
--color-100: #F4F4F5;
--color-200: #E4E4E7;
--color-300: #D4D4D8;
--color-400: #9F9FA9;
--color-500: #71717B;
--color-600: #52525C;
--color-700: #3F3F46;
--color-800: #27272A;
--color-900: #18181B;
--color-950: #09090B;
neutral
--color-050: #FAFAFA;
--color-100: #F5F5F5;
--color-200: #E5E5E5;
--color-300: #D4D4D4;
--color-400: #A1A1A1;
--color-500: #737373;
--color-600: #525252;
--color-700: #404040;
--color-800: #262626;
--color-900: #171717;
--color-950: #0A0A0A;
stone
--color-050: #FAFAF9;
--color-100: #F5F5F4;
--color-200: #E7E5E4;
--color-300: #D6D3D1;
--color-400: #A6A09B;
--color-500: #79716B;
--color-600: #57534D;
--color-700: #44403B;
--color-800: #292524;
--color-900: #1C1917;
--color-950: #0C0A09;
## Flat
pomegranate
--color-050: #F9EBEA;
--color-100: #F2D7D5;
--color-200: #E6B0AA;
--color-300: #D98880;
--color-400: #CD6155;
--color-500: #C0392B;
--color-600: #A93226;
--color-700: #922B21;
--color-800: #7B241C;
--color-900: #641E16;
alizarin
--color-050: #FDEDEC;
--color-100: #FADBD8;
--color-200: #F5B7B1;
--color-300: #F1948A;
--color-400: #EC7063;
--color-500: #E74C3C;
--color-600: #CB4335;
--color-700: #B03A2E;
--color-800: #943126;
--color-900: #78281F;
amethyst
--color-050: #F5EEF8;
--color-100: #EBDEF0;
--color-200: #D7BDE2;
--color-300: #C39BD3;
--color-400: #AF7AC5;
--color-500: #9B59B6;
--color-600: #884EA0;
--color-700: #76448A;
--color-800: #633974;
--color-900: #512E5F;
wisteria
--color-050: #F4ECF7;
--color-100: #E8DAEF;
--color-200: #D2B4DE;
--color-300: #BB8FCE;
--color-400: #A569BD;
--color-500: #8E44AD;
--color-600: #7D3C98;
--color-700: #6C3483;
--color-800: #5B2C6F;
--color-900: #4A235A;
belizehole
--color-050: #EAF2F8;
--color-100: #D4E6F1;
--color-200: #A9CCE3;
--color-300: #7FB3D5;
--color-400: #5499C7;
--color-500: #2980B9;
--color-600: #2471A3;
--color-700: #1F618D;
--color-800: #1A5276;
--color-900: #154360;
peterriver
--color-050: #EBF5FB;
--color-100: #D6EAF8;
--color-200: #AED6F1;
--color-300: #85C1E9;
--color-400: #5DADE2;
--color-500: #3498DB;
--color-600: #2E86C1;
--color-700: #2874A6;
# Für color-990 trixe ich bei flat:
# Selber Link wie oben, auch color-500, dann tint 90%
# Das ist nicht korrekt, aber dunkel
## Tailwind
red
--color-050: #FEF2F2;
--color-100: #FFE2E2;
--color-200: #FFC9C9;
--color-300: #FFA2A2;
--color-400: #FF6467;
--color-500: #FB2C36;
--color-600: #E7180B;
--color-700: #C11007;
--color-800: #9F0712;
--color-900: #82181A;
--color-950: #460809;
orange
--color-050: #FFF7ED;
--color-100: #FFEDD4;
--color-200: #FFD6A7;
--color-300: #FFB86A;
--color-400: #FF8904;
--color-500: #FF692A;
--color-600: #F54927;
--color-700: #CA3519;
--color-800: #9F2D01;
--color-900: #7E2A0C;
--color-950: #441306;
yellow
--color-050: #FFFBEB;
--color-100: #FEF3C6;
--color-200: #FEE685;
--color-300: #FFD230;
--color-400: #FFB93B;
--color-500: #FE9A37;
--color-600: #E1712B;
--color-700: #BB4D1A;
--color-800: #973C08;
--color-900: #7B3306;
--color-950: #461901;
amber
--color-050: #FEFCE8;
--color-100: #FEF9C2;
--color-200: #FFF085;
--color-300: #FFDF20;
--color-400: #FDC745;
--color-500: #F0B13B;
--color-600: #D0872E;
--color-700: #A65F1B;
--color-800: #894B0A;
--color-900: #733E0A;
--color-950: #432004;
lime
--color-050: #F7FEE7;
--color-100: #ECFCCA;
--color-200: #D8F999;
--color-300: #BBF451;
--color-400: #9AE630;
--color-500: #7CCF35;
--color-600: #5EA529;
--color-700: #497D15;
--color-800: #3C6301;
--color-900: #35530E;
--color-950: #192E03;
green
--color-050: #F0FDF4;
--color-100: #DCFCE7;
--color-200: #B9F8CF;
--color-300: #7BF1A8;
--color-400: #05DF72;
--color-500: #31C950;
--color-600: #2AA63E;
--color-700: #178236;
--color-800: #016630;
--color-900: #0D542B;
--color-950: #032E15;
emerald
--color-050: #ECFDF5;
--color-100: #D0FAE5;
--color-200: #A4F4CF;
--color-300: #5EE9B5;
--color-400: #31D492;
--color-500: #37BC7D;
--color-600: #2D9966;
--color-700: #1F7A55;
--color-800: #116045;
--color-900: #034F3B;
--color-950: #012C22;
teal
--color-050: #F0FDFA;
--color-100: #CBFBF1;
--color-200: #96F7E4;
--color-300: #46ECD5;
--color-400: #38D5BE;
--color-500: #36BBA7;
--color-600: #2A9689;
--color-700: #18786F;
--color-800: #075F5A;
--color-900: #0B4F4A;
--color-950: #022F2E;
cyan
--color-050: #ECFEFF;
--color-100: #CEFAFE;
--color-200: #A2F4FD;
--color-300: #53EAFD;
--color-400: #42D3F2;
--color-500: #3BB8DB;
--color-600: #2C92B8;
--color-700: #1A7595;
--color-800: #015F78;
--color-900: #104E64;
--color-950: #053345;
sky
--color-050: #F0F9FF;
--color-100: #DFF2FE;
--color-200: #B8E6FE;
--color-300: #74D4FF;
--color-400: #21BCFF;
--color-500: #34A6F4;
--color-600: #2984D1;
--color-700: #1C69A8;
--color-800: #10598A;
--color-900: #024A70;
--color-950: #052F4A;
blue
--color-050: #EFF6FF;
--color-100: #DBEAFE;
--color-200: #BEDBFF;
--color-300: #8EC5FF;
--color-400: #51A2FF;
--color-500: #2B7FFF;
--color-600: #155DFC;
--color-700: #1447E6;
--color-800: #193CB8;
--color-900: #1C398E;
--color-950: #162456;
indigo
--color-050: #EEF2FF;
--color-100: #E0E7FF;
--color-200: #C6D2FF;
--color-300: #A3B3FF;
--color-400: #7C86FF;
--color-500: #615FFF;
--color-600: #4F39F6;
--color-700: #432DD7;
--color-800: #372AAC;
--color-900: #312C85;
--color-950: #1E1A4D;
violet
--color-050: #F5F3FF;
--color-100: #EDE9FE;
--color-200: #DDD6FF;
--color-300: #C4B4FF;
--color-400: #A684FF;
--color-500: #8E51FF;
--color-600: #7F22FE;
--color-700: #7008E7;
--color-800: #5D0EC0;
--color-900: #4D179A;
--color-950: #2F0D68;
purple
--color-050: #FAF5FF;
--color-100: #F3E8FF;
--color-200: #E9D4FF;
--color-300: #DAB2FF;
--color-400: #C27AFF;
--color-500: #AD46FF;
--color-600: #9810FA;
--color-700: #8207DB;
--color-800: #6E11B0;
--color-900: #59168B;
--color-950: #3C0366;
fuchsia
--color-050: #FDF4FF;
--color-100: #FAE8FF;
--color-200: #F6CFFF;
--color-300: #F4A8FF;
--color-400: #ED6AFF;
--color-500: #E12AFB;
--color-600: #C81CDE;
--color-700: #A813B7;
--color-800: #8A0194;
--color-900: #721378;
--color-950: #4B004F;
pink
--color-050: #FDF2F8;
--color-100: #FCE7F3;
--color-200: #FCCEE8;
--color-300: #FDA5D5;
--color-400: #FB64B6;
--color-500: #F6339A;
--color-600: #E61876;
--color-700: #C6185C;
--color-800: #A3044C;
--color-900: #861043;
--color-950: #510424;
rose
--color-050: #FFF1F2;
--color-100: #FFE4E6;
--color-200: #FFCCD3;
--color-300: #FFA1AD;
--color-400: #FF637E;
--color-500: #FF2056;
--color-600: #EC253F;
--color-700: #C71D36;
--color-800: #A50C36;
--color-900: #8B0836;
--color-950: #4D0218;
slate
--color-050: #F8FAFC;
--color-100: #F1F5F9;
--color-200: #E2E8F0;
--color-300: #CAD5E2;
--color-400: #90A1B9;
--color-500: #62748E;
--color-600: #45556C;
--color-700: #314158;
--color-800: #1D293D;
--color-900: #0F172B;
--color-950: #020618;
gray
--color-050: #F9FAFB;
--color-100: #F3F4F6;
--color-200: #E5E7EB;
--color-300: #D1D5DC;
--color-400: #99A1AF;
--color-500: #6A7282;
--color-600: #4A5565;
--color-700: #364153;
--color-800: #1E2939;
--color-900: #101828;
--color-950: #030712;
zinc
--color-050: #FAFAFA;
--color-100: #F4F4F5;
--color-200: #E4E4E7;
--color-300: #D4D4D8;
--color-400: #9F9FA9;
--color-500: #71717B;
--color-600: #52525C;
--color-700: #3F3F46;
--color-800: #27272A;
--color-900: #18181B;
--color-950: #09090B;
neutral
--color-050: #FAFAFA;
--color-100: #F5F5F5;
--color-200: #E5E5E5;
--color-300: #D4D4D4;
--color-400: #A1A1A1;
--color-500: #737373;
--color-600: #525252;
--color-700: #404040;
--color-800: #262626;
--color-900: #171717;
--color-950: #0A0A0A;
stone
--color-050: #FAFAF9;
--color-100: #F5F5F4;
--color-200: #E7E5E4;
--color-300: #D6D3D1;
--color-400: #A6A09B;
--color-500: #79716B;
--color-600: #57534D;
--color-700: #44403B;
--color-800: #292524;
--color-900: #1C1917;
--color-950: #0C0A09;
## Flat
pomegranate
--color-050: #F9EBEA;
--color-100: #F2D7D5;
--color-200: #E6B0AA;
--color-300: #D98880;
--color-400: #CD6155;
--color-500: #C0392B;
--color-600: #A93226;
--color-700: #922B21;
--color-800: #7B241C;
--color-900: #641E16;
alizarin
--color-050: #FDEDEC;
--color-100: #FADBD8;
--color-200: #F5B7B1;
--color-300: #F1948A;
--color-400: #EC7063;
--color-500: #E74C3C;
--color-600: #CB4335;
--color-700: #B03A2E;
--color-800: #943126;
--color-900: #78281F;
amethyst
--color-050: #F5EEF8;
--color-100: #EBDEF0;
--color-200: #D7BDE2;
--color-300: #C39BD3;
--color-400: #AF7AC5;
--color-500: #9B59B6;
--color-600: #884EA0;
--color-700: #76448A;
--color-800: #633974;
--color-900: #512E5F;
wisteria
--color-050: #F4ECF7;
--color-100: #E8DAEF;
--color-200: #D2B4DE;
--color-300: #BB8FCE;
--color-400: #A569BD;
--color-500: #8E44AD;
--color-600: #7D3C98;
--color-700: #6C3483;
--color-800: #5B2C6F;
--color-900: #4A235A;
belizehole
--color-050: #EAF2F8;
--color-100: #D4E6F1;
--color-200: #A9CCE3;
--color-300: #7FB3D5;
--color-400: #5499C7;
--color-500: #2980B9;
--color-600: #2471A3;
--color-700: #1F618D;
--color-800: #1A5276;
--color-900: #154360;
peterriver
--color-050: #EBF5FB;
--color-100: #D6EAF8;
--color-200: #AED6F1;
--color-300: #85C1E9;
--color-400: #5DADE2;
--color-500: #3498DB;
--color-600: #2E86C1;
--color-700: #2874A6;
--color-800: #21618C;
--color-900: #1B4F72;
turquoise
--color-050: #E8F8F5;
--color-100: #D1F2EB;
--color-200: #A3E4D7;
--color-300: #76D7C4;
--color-400: #48C9B0;
--color-500: #1ABC9C;
--color-600: #17A589;
--color-700: #148F77;
--color-800: #117864;
--color-900: #0E6251;
greensea
--color-010: #F3FAF9;
--color-050: #E8F6F3;
--color-050: #E8F6F3;
--color-100: #D0ECE7;
--color-200: #A2D9CE;
--color-300: #73C6B6;
--color-400: #45B39D;
--color-500: #16A085;
--color-600: #138D75;
--color-700: #117A65;
--color-800: #0E6655;
--color-900: #0B5345;
--color-950: #0B5043;
--color-990: #021011;
nephritis
--color-050: #E9F7EF;
--color-100: #D4EFDF;
--color-200: #A9DFBF;
--color-300: #7DCEA0;
--color-400: #52BE80;
--color-500: #27AE60;
--color-600: #229954;
--color-700: #1E8449;
--color-800: #196F3D;
--color-900: #145A32;
emerald
--color-050: #EAFAF1;
--color-100: #D5F5E3;
--color-200: #ABEBC6;
--color-300: #82E0AA;
--color-400: #58D68D;
--color-500: #2ECC71;
--color-600: #28B463;
--color-700: #239B56;
--color-800: #1D8348;
--color-900: #186A3B;
sunflower
--color-050: #FEF9E7;
--color-100: #FCF3CF;
--color-200: #F9E79F;
--color-300: #F7DC6F;
--color-400: #F4D03F;
--color-500: #F1C40F;
--color-600: #D4AC0D;
--color-700: #B7950B;
--color-800: #9A7D0A;
--color-900: #7D6608;
orange
--color-050: #FEF5E7;
--color-100: #FDEBD0;
--color-200: #FAD7A0;
--color-300: #F8C471;
--color-400: #F5B041;
--color-500: #F39C12;
--color-600: #D68910;
--color-700: #B9770E;
--color-800: #9C640C;
--color-900: #7E5109;
carrot
--color-050: #FDF2E9;
--color-100: #FAE5D3;
--color-200: #F5CBA7;
--color-300: #F0B27A;
--color-400: #EB984E;
--color-500: #E67E22;
--color-600: #CA6F1E;
--color-700: #AF601A;
--color-800: #935116;
--color-900: #784212;
pumpkin
--color-050: #FBEEE6;
--color-100: #F6DDCC;
--color-200: #EDBB99;
--color-300: #E59866;
--color-400: #DC7633;
--color-500: #D35400;
--color-600: #BA4A00;
--color-700: #A04000;
--color-800: #873600;
--color-900: #6E2C00;
clouds
--color-050: #FDFEFE;
--color-100: #FBFCFC;
--color-200: #F7F9F9;
--color-300: #F4F6F7;
--color-400: #F0F3F4;
--color-500: #ECF0F1;
--color-600: #D0D3D4;
--color-700: #B3B6B7;
--color-800: #979A9A;
--color-900: #7B7D7D;
silver
--color-050: #F8F9F9;
--color-100: #F2F3F4;
--color-200: #E5E7E9;
--color-300: #D7DBDD;
--color-400: #CACFD2;
--color-500: #BDC3C7;
--color-600: #A6ACAF;
--color-700: #909497;
--color-800: #797D7F;
--color-900: #626567;
concrete
--color-050: #F2F4F4;
--color-100: #E5E8E8;
--color-200: #CCD1D1;
--color-300: #B2BABB;
--color-400: #99A3A4;
--color-500: #7F8C8D;
--color-600: #707B7C;
--color-700: #616A6B;
--color-800: #515959;
--color-900: #424949;
asbestos
--color-050: #F2F4F4;
--color-100: #E5E8E8;
--color-200: #CCD1D1;
--color-300: #B2BABB;
--color-400: #99A3A4;
--color-500: #7F8C8D;
--color-600: #707B7C;
--color-700: #616A6B;
--color-800: #515A5A;
--color-900: #424949;
wetasphalt
--color-050: #EBEDEF;
--color-100: #D6DBDF;
--color-200: #AEB6BF;
--color-300: #85929E;
--color-400: #5D6D7E;
--color-500: #34495E;
--color-600: #2E4053;
--color-700: #283747;
--color-800: #212F3C;
--color-900: #1B2631;
midnightblue
--color-050: #EAECEE;
--color-100: #D5D8DC;
--color-200: #ABB2B9;
--color-300: #808B96;
--color-400: #566573;
--color-500: #2C3E50;
--color-600: #273746;
--color-700: #212F3D;
--color-800: #1C2833;
--color-900: #17202A;
## Material
red
--color-001: #FFEBEE;
--color-002: #FFCDD2;
--color-003: #EF9A9A;
--color-004: #E57373;
--color-005: #EF5350;
--color-006: #F44336;
--color-007: #E53935;
--color-008: #D32F2F;
--color-009: #C62828;
--color-010: #B71C1C;
pink
--color-001: #FCE4EC;
--color-002: #F8BBD0;
--color-003: #F48FB1;
--color-004: #F06292;
--color-005: #EC407A;
--color-006: #E91E63;
--color-007: #D81B60;
--color-008: #C2185B;
--color-009: #AD1457;
--color-010: #880E4F;
purple
--color-001: #F3E5F5;
--color-002: #E1BEE7;
--color-003: #CE93D8;
--color-004: #BA68C8;
--color-005: #AB47BC;
--color-006: #9C27B0;
--color-007: #8E24AA;
--color-008: #7B1FA2;
--color-009: #6A1B9A;
--color-010: #4A148C;
deeppurple
--color-001: #EDE7F6;
--color-002: #D1C4E9;
--color-003: #B39DDB;
--color-004: #9575CD;
--color-005: #7E57C2;
--color-006: #673AB7;
--color-007: #5E35B1;
--color-008: #512DA8;
--color-009: #4527A0;
--color-010: #311B92;
indigo
--color-001: #E8EAF6;
--color-002: #C5CAE9;
--color-003: #9FA8DA;
--color-004: #7986CB;
--color-005: #5C6BC0;
--color-006: #3F51B5;
--color-007: #3949AB;
--color-008: #303F9F;
--color-009: #283593;
--color-010: #1A237E;
blue
--color-001: #E3F2FD;
--color-002: #BBDEFB;
--color-003: #90CAF9;
--color-004: #64B5F6;
--color-005: #42A5F5;
--color-006: #2196F3;
--color-007: #1E88E5;
--color-008: #1976D2;
--color-009: #1565C0;
--color-010: #0D47A1;
lightblue
--color-001: #E1F5FE;
--color-002: #B3E5FC;
--color-003: #81D4FA;
--color-004: #4FC3F7;
--color-005: #29B6F6;
--color-006: #03A9F4;
--color-007: #039BE5;
--color-008: #0288D1;
--color-009: #0277BD;
--color-010: #01579B;
cyan
--color-001: #E0F7FA;
--color-002: #B2EBF2;
--color-003: #80DEEA;
--color-004: #4DD0E1;
--color-005: #26C6DA;
--color-006: #00BCD4;
--color-007: #00ACC1;
--color-008: #0097A7;
--color-009: #00838F;
--color-010: #006064;
teal
--color-001: #E0F2F1;
--color-002: #B2DFDB;
--color-003: #80CBC4;
--color-004: #4DB6AC;
--color-005: #26A69A;
--color-006: #009688;
--color-007: #00897B;
--color-008: #00796B;
--color-009: #00695C;
--color-010: #004D40;
green
--color-001: #E8F5E9;
--color-002: #C8E6C9;
--color-003: #A5D6A7;
--color-004: #81C784;
--color-005: #66BB6A;
--color-006: #4CAF50;
--color-007: #43A047;
--color-008: #388E3C;
--color-009: #2E7D32;
--color-010: #1B5E20;
lightgreen
--color-001: #F1F8E9;
--color-002: #DCEDC8;
--color-003: #C5E1A5;
--color-004: #AED581;
--color-005: #9CCC65;
--color-006: #8BC34A;
--color-007: #7CB342;
--color-008: #689F38;
--color-009: #558B2F;
--color-010: #33691E;
lime
--color-001: #F9FBE7;
--color-002: #F0F4C3;
--color-003: #E6EE9C;
--color-004: #DCE775;
--color-005: #D4E157;
--color-006: #CDDC39;
--color-007: #C0CA33;
--color-008: #AFB42B;
--color-009: #9E9D24;
--color-010: #827717;
yellow
--color-001: #FFFDE7;
--color-002: #FFF9C4;
--color-003: #FFF59D;
--color-004: #FFF176;
--color-005: #FFEE58;
--color-006: #FFEB3B;
--color-007: #FDD835;
--color-008: #FBC02D;
--color-009: #F9A825;
--color-010: #F57F17;
amber
--color-001: #FFF8E1;
--color-002: #FFECB3;
--color-003: #FFE082;
--color-004: #FFD54F;
--color-005: #FFCA28;
--color-006: #FFC107;
--color-007: #FFB300;
--color-008: #FFA000;
--color-009: #FF8F00;
--color-010: #FF6F00;
orange
--color-001: #FFF3E0;
--color-002: #FFE0B2;
--color-003: #FFCC80;
--color-004: #FFB74D;
--color-005: #FFA726;
--color-006: #FF9800;
--color-007: #FB8C00;
--color-008: #F57C00;
--color-009: #EF6C00;
--color-010: #E65100;
deeporange
--color-001: #FBE9E7;
--color-002: #FFCCBC;
--color-003: #FFAB91;
--color-004: #FF8A65;
--color-005: #FF7043;
--color-006: #FF5722;
--color-007: #F4511E;
--color-008: #E64A19;
--color-009: #D84315;
--color-010: #BF360C;
brown
--color-001: #EFEBE9;
--color-002: #D7CCC8;
--color-003: #BCAAA4;
--color-004: #A1887F;
--color-005: #8D6E63;
--color-006: #795548;
--color-007: #6D4C41;
--color-008: #5D4037;
--color-009: #4E342E;
--color-010: #3E2723;
grey
--color-001: #FAFAFA;
--color-002: #F5F5F5;
--color-003: #EEEEEE;
--color-004: #E0E0E0;
--color-005: #BDBDBD;
--color-006: #9E9E9E;
--color-007: #757575;
--color-008: #616161;
--color-009: #424242;
--color-010: #212121;
bluegrey
--color-001: #ECEFF1;
--color-002: #CFD8DC;
--color-003: #B0BEC5;
--color-004: #90A4AE;
--color-005: #78909C;
--color-006: #607D8B;
--color-007: #546E7A;
--color-008: #455A64;
--color-009: #37474F;
--color-010: #263238;
neutral
--color-01: #FFFFFF;
--color-02: #000000;
## Websafe
lemon
--color-001: #CCFF00;
--color-002: #CCFF33;
--color-003: #CCFF66;
--color-004: #CCFF99;
--color-005: #CCFFCC;
--color-006: #CCFFFF;
--color-007: #FFFFFF;
--color-008: #FFFFCC;
--color-009: #FFFF99;
--color-010: #FFFF66;
--color-011: #FFFF33;
--color-012: #FFFF00;
apricot
--color-001: #CCCC00;
--color-002: #CCCC33;
--color-003: #CCCC66;
--color-004: #CCCC99;
--color-005: #CCCCCC;
--color-006: #CCCCFF;
--color-007: #FFCCFF;
--color-008: #FFCCCC;
--color-009: #FFCC99;
--color-010: #FFCC66;
--color-011: #FFCC33;
--color-012: #FFCC00;
orange
--color-001: #CC9900;
--color-002: #CC9933;
--color-003: #CC9966;
--color-004: #CC9999;
--color-005: #CC99CC;
--color-006: #CC99FF;
--color-007: #FF99FF;
--color-008: #FF99CC;
--color-009: #FF9999;
--color-010: #FF9966;
--color-011: #FF9933;
--color-012: #FF9900;
pumpkin
--color-001: #CC6600;
--color-002: #CC6633;
--color-003: #CC6666;
--color-004: #CC6699;
--color-005: #CC66CC;
--color-006: #CC66FF;
--color-007: #FF66FF;
--color-008: #FF66CC;
--color-009: #FF6699;
--color-010: #FF6666;
--color-011: #FF6633;
--color-012: #FF6600;
tomato
--color-001: #CC3300;
--color-002: #CC3333;
--color-003: #CC3366;
--color-004: #CC3399;
--color-005: #CC33CC;
--color-006: #CC33FF;
--color-007: #FF33FF;
--color-008: #FF33CC;
--color-009: #FF3399;
--color-010: #FF3366;
--color-011: #FF3333;
--color-012: #FF3300;
cherry
--color-001: #CC0000;
--color-002: #CC0033;
--color-003: #CC0066;
--color-004: #CC0099;
--color-005: #CC00CC;
--color-006: #CC00FF;
--color-007: #FF00FF;
--color-008: #FF00CC;
--color-009: #FF0099;
--color-010: #FF0066;
--color-011: #FF0033;
--color-012: #FF0000;
plum
--color-001: #660000;
--color-002: #660033;
--color-003: #660066;
--color-004: #660099;
--color-005: #6600CC;
--color-006: #6600FF;
--color-007: #9900FF;
--color-008: #9900CC;
--color-009: #990099;
--color-010: #990066;
--color-011: #990033;
--color-012: #990000;
chestnut
--color-001: #663300;
--color-002: #663333;
--color-003: #663366;
--color-004: #663399;
--color-005: #6633CC;
--color-006: #6633FF;
--color-007: #9933FF;
--color-008: #9933CC;
--color-009: #993399;
--color-010: #993366;
--color-011: #993333;
--color-012: #993300;
olive
--color-001: #666600;
--color-002: #666633;
--color-003: #666666;
--color-004: #666699;
--color-005: #6666CC;
--color-006: #6666FF;
--color-007: #9966FF;
--color-008: #9966CC;
--color-009: #996699;
--color-010: #996666;
--color-011: #996633;
--color-012: #996600;
pear
--color-001: #669900;
--color-002: #669933;
--color-003: #669966;
--color-004: #669999;
--color-005: #6699CC;
--color-006: #6699FF;
--color-007: #9999FF;
--color-008: #9999CC;
--color-009: #999999;
--color-010: #999966;
--color-011: #999933;
--color-012: #999900;
honeydew
--color-001: #66CC00;
--color-002: #66CC33;
--color-003: #66CC66;
--color-004: #66CC99;
--color-005: #66CCCC;
--color-006: #66CCFF;
--color-007: #99CCFF;
--color-008: #99CCCC;
--color-009: #99CC99;
--color-010: #99CC66;
--color-011: #99CC33;
--color-012: #99CC00;
lime
--color-001: #66FF00;
--color-002: #66FF33;
--color-003: #66FF66;
--color-004: #66FF99;
--color-005: #66FFCC;
--color-006: #66FFFF;
--color-007: #99FFFF;
--color-008: #99FFCC;
--color-009: #99FF99;
--color-010: #99FF66;
--color-011: #99FF33;
--color-012: #99FF00;
apple
--color-001: #00CC00;
--color-002: #00CC33;
--color-003: #00CC66;
--color-004: #00CC99;
--color-005: #00CCCC;
--color-006: #00CCFF;
--color-007: #33CCFF;
--color-008: #33CCCC;
--color-009: #33CC99;
--color-010: #33CC66;
--color-011: #33CC33;
--color-012: #33CC00;
pistachio
--color-001: #009900;
--color-002: #009933;
--color-003: #009966;
--color-004: #009999;
--color-005: #0099CC;
--color-006: #0099FF;
--color-007: #3399FF;
--color-008: #3399CC;
--color-009: #339999;
--color-010: #339966;
--color-011: #339933;
--color-012: #339900;
kiwi
--color-001: #006600;
--color-002: #006633;
--color-003: #006666;
--color-004: #006699;
--color-005: #0066CC;
--color-006: #0066FF;
--color-007: #3366FF;
--color-008: #3366CC;
--color-009: #336699;
--color-010: #336666;
--color-011: #336633;
--color-012: #336600;
avocado
--color-001: #003300;
--color-002: #003333;
--color-003: #003366;
--color-004: #003399;
--color-005: #0033CC;
--color-006: #0033FF;
--color-007: #3333FF;
--color-008: #3333CC;
--color-009: #333399;
--color-010: #333366;
--color-011: #333333;
--color-012: #333300;
eggplant
--color-001: #000000;
--color-002: #000033;
--color-003: #000066;
--color-004: #000099;
--color-005: #0000CC;
--color-006: #0000FF;
--color-007: #3300FF;
--color-008: #3300CC;
--color-009: #330099;
--color-010: #330066;
--color-011: #330033;
--color-012: #330000;
