.bigbiglist h2 {
  border-bottom: 0;
  border-top: 1px solid black;
  padding-top: 0;
  font-size: 1.2rem !important; 
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
.bigbiglist h3, h4, h5, h6 {
  text-decoration: none !important;
  border-bottom: none !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 1rem !important; 
  font-weight: normal !important;
}
.bigbiglist h3 {
  margin-left: 1rem !important;
}
.bigbiglist h4 {
  margin-left: 2rem !important;
}
.bigbiglist li {
   margin-left: 2rem !important;
}
.bigbiglist h5 {
  margin-left: 3rem !important;
}
.bigbiglist h6 {
  margin-left: 4rem !important;
}
.bigbiglist ul {
  padding: 0 !important;
  margin: 0 !important;
}
.bigbiglist li {
   margin-left: 2rem !important;
}
.catalog .markdown-embed-title {
  display: none;
}
.catalog .block-language-dataviewjs.node-insert-event > p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.catalog div.block-language-dataviewjs.node-insert-event > div {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 0.3rem !important;
}
.catalog div.block-language-dataviewjs.node-insert-event * {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.catalog div.block-language-dataviewjs.node-insert-event h2 {
  padding-left: 0.5rem !important;
  margin-top: 0.4rem !important;
  border-bottom: 0 !important;
}
.catalog div.block-language-dataviewjs.node-insert-event h3 {
  padding-left: 1.5rem !important;
  border-bottom: 0 !important;
}
