/* Obsidian Editor
 * Nur Anzeige innerhalb Obsidian Edit Mode, kein Einfluss auf Export
 * Alle important gemacht, weil einige es brauchen; wollte nicht prüfen, welche
*/
#cssfile_plainsources { color: blue; }
.markdown-source-view:not(.is-live-preview) {
  * {
    background-color: unset; /* imporatant will remove the cursor */
    text-decoration: unset !important;
    font-feature-settings: unset !important;
    font-kerning: unset !important;
    font-language-override: unset !important;
    font-size-adjust: unset !important;
    font-stretch: unset !important;
    font-style: unset !important;
    font-variant: unset !important;
    font-weight: unset !important;
    font-family: Cousine, "Cousine Nerd Font", Segoe UI, "trebuchet ms", verdana, arial !important;
    font-size: 0.9rem !important;
    line-height: 1.2rem !important;
    vertical-align: baseline !important;
  }
}
.markdown-source-view:not(.is-live-preview) *::after {
  border: unset !important;
}
.theme-light {
  .markdown-source-view:not(.is-live-preview) {
    * {
      color: #222 !important;
      color: #333 !important;
    }
    /* Zeilennummern */ .cm-gutter * { color: #bbb !important; }
    /* Header-Doppelkreuze */.cm-formatting-header { color: green !important ; }
    .HyperMD-header { font-weight: bold !important; }
    .HyperMD-header-2 { background: khaki !important; }
    .HyperMD-header-3 { background: lemonchiffon !important; }
    .HyperMD-header-4 { background: lightgoldenrodyellow !important; }
    .HyperMD-header-5 { background: ivory !important; }
    .HyperMD-header-6 { background: #f6f6f6 !important; }

    .cm-inline-code { background-color: #f6f6f6 !important; }
    .HyperMD-codeblock { background-color: #f6f6f6 !important; }
    .cm-quote { background-color: #f6fff6 !important; }
    .cm-comment { opacity: 60%; }
  }
}
.theme-dark {
  .markdown-source-view:not(.is-live-preview) {
    * {
      color: #eee !important;
      color: #ddd !important;
    }
    /* Zeilennummern */ .cm-gutter * { color: #bbb !important; }
    /* Header-Doppelkreuze */.cm-formatting-header { color: green !important ; }
    .HyperMD-header { font-weight: bold !important; }

    .cm-inline-code { background-color: #222 !important; }
    .HyperMD-codeblock { background-color: #222 !important; }
    .cm-quote { background-color: #222 !important; }
    .cm-comment { opacity: 50%; }
  }
}

