#cssfile_obuntu_adapt{ color: blue; }
/* Webpage html export hängt die snippets willkürlich aneinander
 * - obsidian-source-view.css hat eh keinen Einfluss auf die Lese Ansicht
 * - timeline passe ich hier an, mit !important, falls nötig
 * weitere snippet Dateien darf es nicht geben
*/
.theme-dark {
  --blue-bg:  #141b52;
  --green-bg: #1a4217;
  --red-bg:   #4c050f;
  --yellow-bg:#44420e;
  --grey-bg:  rgba(0, 0, 0, .7);

  --color-bg:#333;
  --color-bg-alt:#555;
  --color-bg-sec:#333;
  --color-bg-sec-alt:#555;
  --color-fg:#fff;
  --color-ac:#50af83;
  --color-hv:#50df83;
  --color-ac-light-a: rgba(80,175,131,0.9);
  --color-ac-light-b: rgba(80,175,131,0.8);
  --color-strong:#30694e;
  --color-mild:#bac22f;

  --text-normal: #dcddde;
  --text-muted: #999;
  --text-faint: #666;
  --text-error: #ff3333;
  --text-error-hover: #990000;
  --text-matched: #dcddde;
  --text-on-accent: #dcddde;
}

.theme-light {
  --blue-bg:  rgba(214, 233, 255, .3);
  --green-bg: rgba(0,   255, 0,   .03);
  --red-bg:   rgba(255, 0,   0,   .04);
  --yellow-bg:rgba(255, 255, 0,   .05);
  --grey-bg:  rgba(0, 0, 0, .03);

  --black: 3,5,11; /* nearly black */
  --black-hex:#03050b; /* same nearly black */
  --middle-grey: 85,85,85; /* middle grey */
  --middle-grey-hex: #555; /* same middle grey */
  --light-grey: 222,222,222; /* light grey */
  --light-grey-hex: #dedede; /* same light grey */
  --very-light-grey: 238,238,238; /* very light grey */
  --very-light-grey-hex: #eeeeee; /* same very light grey */
  --white: 255,255,255; /* white */
  --white-hex: #ffffff; /* same white */
  --red: 255,51,51; /* quite red */
  --red-hex: #ff3333; /* same quite red */
  --full-dark-red: 153,0,0; /* full dark red */
  --full-dark-red-hex: #990000; /* same full dark red */
  --yellow-green: 186,194,47; /* yellow green */
  --yellow-green-hex: #bac22f; /* same yellow green */
  --middle-green: 80,175,131; /* middle green */
  --middle-green-hex: #50df83; /* same middle green */
  --dark-green: 19,102,49; /* dark green */
  --dark-green-hex: #136631; /* same dark green */
  --full-dark-green: 48,105,78; /* full dark green */
  --full-dark-green-hex: #30694e; /* same full dark green */
  --mild-dark-green: var(--yellow-green);

  --accent: var(--dark-green);
  --accent-strong: var(--full-dark-green);
  --accentmild: var(--middle-green);
  --error: rgb(var(--red));
  --error-hover: rgb(var(--full-dark-red));

  --color-fg: rgb(var(--black));
  --color-muted: rgb(var(--middle-grey));
  --color-bg:rgb(var(--white));
  --color-bg-alt:rgb(var(--light-grey));
  --color-bg-sec:rgb(var(--very-light-grey));
  --color-bg-sec-alt:rgb(var(--very-light-grey));

  --color-ac: rgb(var(--accent));
  --color-hv: rgb(var(--accentmild));
  --color-ac-light-a: rgba(var(--accent),0.9);
  --color-ac-light-b: rgba(var(--accent),0.8);
  --color-strong: rgb(var(--accent-strong));
  --color-mild: rgb(var(--accentmild));

  --text-normal: rgb(var(--color-fg));
  --text-muted: rgb(var(--color-muted));
  --text-error: rgb(var(--error));
  --text-error-hover: rgb(var(--error-hover));
  --text-matched: rgb(var(--light-grey));
  --text-on-accent: rgb(var(--light-grey));
}
.theme-light, .theme-dark {
  --background-primary: var(--color-bg) !important;
  --background-primary-alt: var(color-bg-alt) !important;
  --background-secondary: var(--color-bg-sec) !important;
  --background-secondary-alt: var(--color-bg-sec-alt) !important;
  --text-accent: var(--color-ac) !important;
  --text-accent-hover: var(--color-hv) !important;
  --text-selection: var(--color-ac-light-b) !important;
  --text-highlight-bg: var(--color-ac) !important;
  --interactive-accent: var(--color-ac) !important;
  --interactive-accent-rgb: var(--color-hv) !important;
  --interactive-accent-hover: var(--color-hv) !important;
  --accent-strong: var(--color-strong) !important;
  --accent-mild: var(--color-mild) !important;
  --tooltip-bg: var(--color-ac-light-a);
  --link-color: var(--color-ac);
  --link-color-hover: var(--color-hv);
  --link-external-color: var(--color-ac);
  --link-external-color-hover: var(--color-hv);
  --link-decoration: none;
  --link-decoration-hover: none;
}

.theme-light, .theme-dark {
  .tag { background: var(--color-ac) !important; color: var(--color-bg) !important; }
  /* Webpage Html Export */ .tag.is-unresolved { background: var(--color-ac) !important; color: var(--color-bg) !important; }
  /* Webpage Html Export */ .page-title  { display:none; } /* Dateiname nicht zu H1 */
  code { color: var(--color-ac) !important; }
}
th { /* Das ist in obsidian.css vorgegeben */
  background: var(--background-secondary-alt);
}
thead tr>th:nth-child(2n+2) { /* obsidian.css macht jeden 2. Header anders, das aufheben */
  background: var(--background-secondary-alt) !important;
}
thead, tbody, tr > * {
  /* Sonst hat die Webversion umrandete Kästchen  */
  border: unset !important;
}
thead {
  border-bottom: 2px solid var(--color-fg) !important;
}
p {
 margin-bottom: 0.4rem !important;
 margin-top: 0.0rem !important;
 line-height: 1.4;
}
p::first-letter {
  font-size:1.2rem !important;
}
h5 {
  border-bottom: none !important;
  text-decoration: underline !important;
  text-underline-offset: 0.5rem !important;
}
h6 {
  border-bottom: none !important;
  text-decoration: underline !important;
  text-decoration-thickness: 1px !important;
  text-decoration-style: dashed !important;
  text-underline-offset: 0.5rem !important;
}
[data-heading="-footnotes"] {
    max-height: 6px !important;
    font-size: 6px !important;
    line-height: 6px !important;
    margin: 0 !important;
    padding: 0 !important;
    color: var(--color-bg) !important;
    border: 0;
}



/*******************************************************************************/
/* Timeline Adaption
/*******************************************************************************/
/*Webpage Html Export */[data-callout="timeline"] {
  background-color: var(--color-bg) !important;
  margin: 0 !important;
  padding: 0 !important;
}
body {
  /* Webpage Html Export workaround dummy first line as first line is not read */
          [data-callout-metadata="blue"] .callout-content   { background: var(--blue-bg); }
  [data-callout-metadata="blue"] .callout-content   { background: var(--blue-bg); }
  [data-callout-metadata="green"] .callout-content  { background: var(--green-bg); }
  [data-callout-metadata="red"] .callout-content    { background: var(--red-bg); }
  [data-callout-metadata="yellow"] .callout-content { background: var(--yellow-bg); }
  [data-callout-metadata="grey"] .callout-content   { background: var(--grey-bg); }
}
.theme-dark .callout-content a { color: white !important; }
.timeline h3 {
    xdisplay: none;
    max-height: 3px !important;
    font-size: 3px !important;
    line-height: 3px !important;
    margin: 0 !important;
    padding: 0 !important;
    color: var(--color-bg) !important;
    border: 0;
}

.timeline h2 {
  color: grey !important;
  font-size: 0.7rem !important;
  line-height: 0.7rem !important;
  max-height: 0.7rem !important;
  border: none !important;
  margin: none !important;
  padding: none !important;
}



/*******************************************************************************/
/* Folder notes Adaption
/*******************************************************************************/
.folder-overview-list .tree-item-children {
  display: grid;
}
.folder-overview-list * {
  color: revert;
  font-size: 1rem;
}
.folder-overview-list .is-clickable::before {
  display: grid;
}
/* .folder-overview-list .is-collapsed::before
   .folder-overview-list .nav-file
*/
/*******************************************************************************/
/* CssClasses
/*******************************************************************************/

/* werkstatt *******************************************************************/
.werkstatt {
  background-image: linear-gradient(to right, #dddddd 0%, white 10%, white 90%, #dddddd 100%);
}
.markdown-reading-view .werkstatt {
  background-size: 100% 100%;
  background-position: top 1rem right -2rem;
  background-image: url('data:image/svg+xml,<svg height="30" width="60" xmlns="http://www.w3.org/2000/svg"><text x="10" y="10" fill="%23F6F6F6">privat</text></svg>');
}


/* studiis *********************************************************************/
.studies {
  background-image: linear-gradient(to right, #cccc90 0%, white 3%, white 97%, #cccc90 100%);
}

/* breadcrumbs *****************************************************************/
.breadcrumbs span {background: var(--yellow-bg);}

/* catalog *********************************************************************/
.catalog table { table-layout: fixed !important; }
.catalog th:first-child { width: 75% !important; }
.catalog th:nth-child(2) { width: 10% !important; }
.catalog th span.dataview.small-text { padding-left: 0.3rem; }
.catalog td span { white-space: nowrap; text-overflow: ellipsis; }

.catalog .markdown-embed-title { display: none; }
.catalog .markdown-embed h2 { display: none; }
.catalog .markdown-embed .block-language-dataviewjs { margin-left: 1rem; }


/* biglist *********************************************************************/
.bigbiglist h2 {
  border-bottom: 0;
  border-top: 1px solid  var(--color-fg); 
  padding-top: 0;
  font-size: 1.2rem !important;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
.bigbiglist h3, h4 {
  text-decoration: none !important;
  border-bottom: none !important;
  font-size: 1rem !important;
  padding: 0 !important;
  margin: 0 !important;
}
.bigbiglist h3 {
  margin-left: 1rem !important;
}
.bigbiglist h4 {
  font-weight: normal !important;
  margin-left: 2rem !important;
}
.bigbiglist p {
  padding-left: 4rem !important;
}
