/* remove formatting and set font to single size monospace */
.markdown-source-view:not(.is-live-preview) * {
  color: #333 !important;
  text-decoration: unset !important;
  font-feature-settings: unset !important;
  font-kerning: unset !important;
  font-language-override: unset !important;
  font-size-adjust: unset !important;
  font-stretch: unset !important;
  font-style: unset !important;
  font-variant: unset !important;
  font-weight: unset !important;
  line-height: 1.2rem !important;
  font-size: 0.9rem !important;
  font-family: Cousine, "Cousine Nerd Font", Segoe UI, "trebuchet ms", verdana, arial !important;
  vertical-align: baseline !important;
}
.markdown-source-view:not(.is-live-preview) .cm-formatting, .cm-inline-code,
  .HyperMD-codeblock, .cm-list-1, .cm-highlight, .cm-quote {
  background-color: unset !important;
}
.markdown-source-view:not(.is-live-preview) .cm-gutter * {
  color: #bbb !important;
}
.markdown-source-view:not(.is-live-preview) .HyperMD-header {
  font-weight: bold !important;
  margin-top: 0.3em !important;
}
.markdown-source-view:not(.is-live-preview) .HyperMD-header-1 {
  margin-top: 0 !important;
}
.markdown-source-view:not(.is-live-preview) .HyperMD-header-2 {
  background: khaki !important;
}
.markdown-source-view:not(.is-live-preview) .HyperMD-header-3 {
  background: lemonchiffon !important;
}
.markdown-source-view:not(.is-live-preview) .HyperMD-header-4 {
  background: lightgoldenrodyellow !important;
}
.markdown-source-view:not(.is-live-preview) .HyperMD-header-5 {
  background: ivory !important;
}
.markdown-source-view:not(.is-live-preview) .HyperMD-header-6 {
  background: #f6f6f6 !important;
}
.markdown-source-view:not(.is-live-preview) .cm-formatting-header {
  color: green !important;
  background: white !important;
}
.markdown-source-view:not(.is-live-preview) .cm-comment {
  color: grey !important;
}
/* in case themes uses ::after div formatting for borders and so on */
.markdown-source-view:not(.is-live-preview) *::after {
  border: unset !important;
}
